<div class="flat-image-cover" style="background-image: url(<%= @flat.pictureUrl %>)">
</div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-sm-8">

      <div class="flat-show-card">
        <h1><%= @flat.name %></h1>
        <p class="flat-show-address"><%= @flat.address %></p>
      </div>

      <div class="flat-show-card">
        <h4>A bit more about this flat...</h4>
        <p><%= @flat.description %></p>
      </div>

      <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      ></div>

      <%= link_to "Back to all flats", flats_path, class: 'btn btn-danger margin-top-50' %>
    </div>


    <div class="col-sm-4">

      <div class="flat-show-card">
        <h5>Book this place!</h5>
      </div>

      <div class="flat-show-card">
        <h3>Details</h3>
        <div class="flex">
          <div class="flex">
            <p><i class="fas fa-users darkslategray"></i> <%= @flat.number_of_guests %></p>
          </div>
          <div class="flex">
            <p class='margin-left-20'>£<%= @flat.price_per_night %></p>
          </div>
        </div>
      </div>

      <div class="flat-show-card">
        <div class="flex-align">
          <h6 class="no-mb">Share</h6>
          <div class="flex space-between">
            <i class="fab fa-facebook-square fa-2x mr-2"></i>
            <i class="fab fa-twitter-square fa-2x mr-2"></i>
            <i class="fab fa-pinterest-square fa-2x mr-2"></i>
            <i class="fas fa-envelope-square fa-2x"></i>
          </div>
        </div>
      </div>

    </div>




  </div>
</div>

<script>
  import GMaps from 'gmaps/gmaps.js';

const mapElement = document.getElementById('map');
if (mapElement) { // don't try to build a map if there's no div#map to inject in
  const map = new GMaps({ el: '#map', lat: 0, lng: 0 });
  const markers = JSON.parse(mapElement.dataset.markers);
  map.addMarkers(markers);
  if (markers.length === 0) {
    map.setZoom(2);
  } else if (markers.length === 1) {
    map.setCenter(markers[0].lat, markers[0].lng);
    map.setZoom(14);
  } else {
    map.fitLatLngBounds(markers);
  }
}
</script>



